language: ruby
cache:
- bundler
env:
- READBLY_PWD=readbly_travis
before_install:
- gem update --system
- gem --version
- gem install bundler
- gem update bundler
before_script:
- cp ./.travis.database.yml ./config/database.yml
- psql -c "CREATE USER readbly_travis WITH PASSWORD 'readbly_travis';" -U postgres
- psql -c "ALTER USER readbly_travis CREATEDB;" -U postgres
- bundle exec rake db:create
- bundle exec rake db:migrate
- bundle exec rake assets:precompile
deploy:
  provider: heroku
  api_key:
    secure: NO/5YKXnsPepuCwTs0nzqSVmeYYQGWbeUGPecJ4E6vLIiphDQfFwC9NI+URNuIGy0TslZhyZDXT9l1ubhyOKCMwstfOg+p+uY8oi1ONDCVO+WlWEi3cCQKQNwnAIat904Ykf9q+gfILGdmezxEQXS9d6EdDqcoIB3v3YEWtbFXdgft2UvPIkxgUFBxGCPFJQSB4e1dKQtnbCRchxcuymlzSOpH4Hvcj8aVnFUiA18RwxwME2PKQSS5gJuAEE/VRChJoWg/KYQa8IgfeZ+TOVrQmdWhBoDELZMDR/bCE7c2ZqOlOiTzO2YLNb5C8w15JHW3KYv3eRmHu0Zzm5/QSV207N1cJD+PBgMV/qiDKxVRL1kKbkW8qEJQgxsz7Kb6Liiw9sU1njsqCrSNTLX01dfJfg60MqQXeLOZ7WPH+cSZVdPouS1Kr5j14wZxIP8XIgTHXwWEsOhT/u6MERopo42jgG3F0NF9qcDs4y1bozCWpMRGATZ7U6ioRc0oWcwzSdKjkr96RQqq/X7IhZM8DU7S8aocKH2MCxtQNb2pDsgYrbTpwzeuRATO0huOfjTOic7Rv3cHVyVZn5cS5I2/T5wfmz3bVhImr00kYDaLPyNzQRw/Wb+16c4eQjKaBF8k4l6jArpjLhR/MF/Iv89aPSRECa5YaX0dc70/990Mawz+w=
  app: readbly
  run: 
  -  gem install bundler
  -  bundle exec rake db:migrate
  on:
    repo: LithiumSR/readbly
    branch: master