@import url('https://fonts.googleapis.com/css?family=Lato');
.email {
    font-family: 'Lato', serif;
    font-size: 50px;
    font-weight: 900;
    display: flex;
    align-items:center;
    margin: 0 auto;
}

#email {
    padding-left: 8px;
}

.container {
    padding: 40px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.carta-wrap {
    margin: 10px;
    transform: perspective(700px);
    transform-style: preserve-3d;
    cursor: pointer;
}

.carta-wrap:hover .carta-info {
    transform: translateY(0);
}

.carta-wrap:hover .carta-info p {
    opacity: 1;
}

.carta-wrap:hover .carta-info,
.carta-wrap:hover .carta-info p {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.carta-wrap:hover .carta-info:after {
    transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 1;
    transform: translateY(0);
}

.carta-wrap:hover .carta-bg {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 0.8;
}

.carta-wrap:hover .carta {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, white 0 0 0 1px, rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset white 0 0 0 6px;
}

.carta {
    position: relative;
    flex: 0 0 240px;
    width: 240px;
    height: 320px;
    background-color: #333;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
    transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.carta-bg {
    opacity: 0.5;
    position: absolute;
    top: -20px;
    left: -20px;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    pointer-events: none;
}

.carta-info {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    position: absolute;
    bottom: 0;
    color: #fff;
    transform: translateY(40%);
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.carta-info p {
    opacity: 0;
    text-shadow: black 0 2px 3px;
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.carta-info * {
    position: relative;
    z-index: 1;
}

.carta-info:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
    background-blend-mode: overlay;
    opacity: 0;
    transform: translateY(100%);
    transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.carta-info h1 {
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
}

.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}

.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

a:visited {
    color: #666;
}

.float {
    position: fixed;
    width: 54px;
    height: 54px;
    bottom: 85%;
    right: 10%;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.my-float {
    margin-top: 10px;
}

.float:hover #home {
    transition: 200ms;
    transition-timing-function: ease-in-out;
}

.float:hover {
    position: fixed;
    width: 54px;
    height: 54px;
    bottom: 85%;
    right: 10%;
    border-radius: 50px;
    text-align: center;
}

.dropdown-menu {
    position: relative;
}

.dropdown-menu>ul {
    position: relative;
    transition: visibility 0.5s;
    padding-left: 0;
    font-family: 'Lato', serif;
    font-size: 15px;
    text-align: left;
}

.dropdown-menu>span,
.dropdown-menu>div {
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
    list-style-type: none;
    line-height: 200%;
    width:100px;
}

li {
    margin: 10px 0;
}

li:hover {
    background-color: transparent;
}

a:hover {
    background-color: transparent;
    color: #333;
}
