@import url('https://fonts.googleapis.com/css?family=Lato');
* {
    font-family: 'Lato', serif;
    font-size: 16px;
    font-weight: 400;
}

a {
    color: #000;
}

a:visited {
     color: #363636;
 }

a:hover {
     color: #fff;
     background-color: #000;
 }

