<% content_for :for_head do %>
    <%= stylesheet_link_tag '/stylesheets/book.css', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="container">
    <h1 style='line-height:48px;'>New Book</h1>
</div>
<%= render 'form', book: @book %>


