<% content_for :for_head do %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/book.css">
<% end %>

<div class="container">
    <h1 style='line-height:48px;'>New Book</h1>
</div>
<%= render 'form', book: @book %>


