<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="/javascript/books/book_search_form.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/book.css">
</head>

<body onload="initializeBookStorage()">
    <div class="container">
        <h1>Find a book</h1>
        <%= form_with url: search_results_url , name: "bookFrom", id:"myBookForm", method: :get, :html => { :onsubmit => "return addBookStorage()" }, local: true do |form| %>
            <fieldset class="form-fieldset ui-input __first" id="firstForm">
                <input type="text" name="title" id="title" />
                <label for="title">
                    <span data-text="Title (Required)">Title</span>
                </label>
            </fieldset>
            <fieldset class="form-fieldset ui-input __second">
                    <input type="text" name="author" id="author" />
                    <label for="author">
                        <span data-text="Author">Author</span>
                    </label>
                </fieldset>

            <fieldset class="form-fieldset ui-input __third">
                <input type="text" id="isbn" tabindex="0" maxlength="13" />
                <label for="isbn">
                    <span data-text="ISBN">ISBN</span>
                </label>
            </fieldset>

            <fieldset class="form-fieldset ui-input __fourth">
                    <input min="0" id="released_at" type="number" name="released_at" />
                <label for="released_at">
                    <span data-text="Release year" >Release year</span>
                </label>
            </fieldset>

            <div class="form-footer">
                <input type="submit" name="commit" id="bottone" class="btn" value="Search">
                <input type="reset" id="bottone" class="btn" value="Reset">
            </div>
        <% end %>
      <div id="bookStorage"></div>
    </div>
</body>