// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Eczar');
@import url('https://fonts.googleapis.com/css?family=Lato');
.home {
    background: linear-gradient(to right, #3A1C71, #D76D77, #FFAF7B);
}

.navbar-text {
    display: none;
}

.nav {
    display: none;
}

.title {
    color: white;
    font-family: 'Eczar', serif;
    font-size: 66px;
    margin-top: 6%;
    margin: 50px;
}

.description {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 30px;
    text-align: justify;
    line-height: 50px;
    height: 25vh;
    width: 45rem;
    margin: 50px;
}

.rectangle {
    display: grid;
    grid-gap: 16px;
    line-height: auto;
    margin: 1px;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    justify-items: center;
    position: absolute;
    top: 6%;
    right: 0;
    background: white;
    height: 77vh;
    width: 25rem;
    margin-right: 2%;
    -webkit-box-shadow: 2px 4px 16px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 4px 16px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 4px 16px 2px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 8px;
    -webkit-border-top-left-radius: 12px;
    -moz-border-radius: 8px;
    -moz-border-radius-topleft: 12px;
    border-radius: 8px;
    border-top-left-radius: 12px;
}

.button {
    color: #fff;
    height: 10vh;
    width: 20rem;
    -webkit-border-radius: 8px;
    -webkit-border-top-left-radius: 12px;
    -moz-border-radius: 8px;
    -moz-border-radius-topleft: 12px;
    border-radius: 8px;
    border-top-left-radius: 12px;
}

.lor {
    font-family: 'Eczar', serif;
    font-size: 22px;
}

.text {
    font-size: 28px;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login {
    background-color: #4CD964;
}

#register {
    background-color: #FF9500;
}

a:link,
a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: inherit;
    color: black;
}